<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express CSV Processing</title>
</head>
<body>
    <h1>New List:</h1>
    <ul>
        <% new_list.forEach(item => { %>
            <li><%= item %></li>
        <% }); %>
    </ul>
    <form action="/download" method="get">
        <button type="submit">Download New Attachment</button>
    </form>
</body>
</html>
